<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - Team Challenge</title>

    <!-- Load css-->
    <link rel="stylesheet" href="css/main.css"/>

    <!-- Load angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

</head>
<body ng-app="SignUpApp">

    <div class="container-fluid" id="formContainer" ng-controller="SignUpCtrl">

        <h1>Sign Up</h1>
        <h4>Our service is fun and awesome, but you must be 13 years old to join.</h4>

        <!-- Sign up form-->
        <form role="form" name="signUpForm" novalidate>

            <!-- e-mail form-->
            <div class="form-group form-horizonal"  ng-class="{'has-error': signUpForm.email.$invalid && !signUpForm.email.$pristine}">
                <label>Email</label>
                <input type="email" class="form-control" name='email' id='email' placeholder='youremail@youremailservice.com' ng-model="form.email" required>
                <p class='red' id="emailError" ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine">A valid e-mail address is required</p>
            </div>

            <!--first name form-->
            <div class="form-group form-horizonal">
                <label>First Name</label>
                <input type="text" class="form-control" name='firstName' id='firstName' placeholder='Your first name' ng-model="form.firstName">
            </div>

            <!--last name form-->
            <div class="form-group form-horizonal"  ng-class="{'has-error': signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine}">
                <label>Last Name</label>
                <input type="text" class="form-control" name='lastName' id='lastName' placeholder ='Your last name' ng-model="form.lastName" required>
                <p class='red' id="lastNameError" ng-show="signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine">Enter your last name</p>
            </div>

             <!-- birth date form -->
            <div class="form-group form-horizonal" ng-class="{'has-error': signUpForm.birthDate.$invalid && !signUpForm.birthDate.$pristine}, 'has-error': !isThirteen(), 'has-error': !isDate()">
                <label>Birthdate</label>
                <input type="text" class="form-control" name="birthDate" id="birthDate" placeholder='MM/DD/YYYY' ng-model="form.birthDate"required>
                <p class='red' id="noDateError" ng-show="signUpForm.birthDate.$invalid && !signUpForm.birthDate.$pristine">Enter your date of birth</p>
                <p class='red' id="ageError" ng-show="!isThirteen()">You must be at least thirteen years old</p>
                <p class='red' id="isDateError" ng-show="!isDate()">A valid date (MM/DD/YYYY) is required</p>

            </div>

            <!-- password form -->
            <div class="form-group form-horizonal" ng-class="{'has-error': signUpForm.password.$invalid && !signUpForm.password.$pristine}">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password" ng-model="form.password" ng-change="checkStrength()" required/>
                <div class="progress">
                    <uib-progressbar value="dynamic" type="{{type}}">{{description}}</uib-progressbar>
                </div>
                <p class="red" ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine">A password is required</p>
            </div>

            <!-- confirm password form -->
            <div class="form-group form-horizonal" ng-class="{'has-error': signUpForm.password.$invalid && !signUpForm.password.$pristine}, 'has-error': !checkMatch()">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" ng-model="form.passwordConfirm" ng-change="checkMatch()" required/>
                <p class="red" ng-show="signUpForm.passwordConfirm.$invalid && !signUpForm.passwordConfirm.$pristine">You must confirm your password</p>
                <p class="red" id="matchError" ng-show="!checkMatch() && !signUpForm.passwordConfirm.$pristine">Your passwords do not match</p>
            </div>

            <!-- reset button -->
            <button id="resetButton" class="btn btn-warning" ng-click="resetForm(signUpForm)">Reset</button>

            <!-- submit button -->
            <button id="submitButton" class="btn btn-primary" type="submit" ng-click="submitForm(signUpForm)" ng-disabled="signUpForm.$invalid">Sign Up</button>
            <div id="submitAlert" class="alert alert-success" ng-show="submitted">
                <strong>Account sign up has been submitted.</strong>
                <div id="closeAlert" ng-click="clearAlert()">&times;</div>
            </div>
        </form>

    </div>

<!-- Load javascript-->
<script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>